# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets & configs
.env
.streamlit/secrets.toml
